Problems:

Have spent five hours on this today alone. I can't seem to get dotenv to load? That's the first hurdle, and everything else stems from there.

If I go a slightly different route, I can at least get the tables created...but then I can't populate them with the data.

Any help is greatly appreciated. As for the bottom piece of code, that came from a YouTube video, and it doesn't do anything. Neither does "BULK INSERT"

I'm really, really, really frustrated. I'm sorry, guys, I'm doing the best I can and it's just not good enough.

In [ ]:
#Import necessary tools and ignore warnings
import pandas as pd
import pymysql as mysql
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')
from mysql.connector import connect
import os
import mysql.connector
from dotenv import load_dotenv

load_dotenv()

DB_HOST = os.getenv("DB_HOST")
DB_USERNAME = os.getenv("DB_USERNAME")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_NAME = os.getenv("DB_NAME")

connection = mysql.connector.connect(
    host=DB_HOST,
    user=DB_USERNAME,
    password=DB_PASSWORD,
    database=DB_NAME,
    ssl_verify_identity=True,
    ssl_ca="ca.pem",
    ssl_cert ="server-cert.pem",
    ssl_key="server-key.pem"
)

print("Connected to the database")

In [10]:
# Converting source data files from .dta to .csv format
data=pd.read_stata("/Users/katherinekimberling/Desktop/harvard_trade_data/services_unilateral_country_product_year_1.dta")
data.to_csv("/Users/katherinekimberling/Desktop/harvard_trade_data/services_unilateral_country_product_year_1.csv")

data=pd.read_stata("/Users/katherinekimberling/Desktop/harvard_trade_data/services_unilateral_country_product_year_2.dta")
data.to_csv("/Users/katherinekimberling/Desktop/harvard_trade_data/services_unilateral_country_product_year_2.csv")

data=pd.read_stata("/Users/katherinekimberling/Desktop/harvard_trade_data/services_unilateral_country_product_year_4.dta")
data.to_csv("/Users/katherinekimberling/Desktop/harvard_trade_data/services_unilateral_country_product_year_4.csv")

data=pd.read_stata("/Users/katherinekimberling/Desktop/harvard_trade_data/services_unilateral_country_product_year_6.dta")
data.to_csv("/Users/katherinekimberling/Desktop/harvard_trade_data/services_unilateral_country_product_year_6.csv")

In [ ]:
#Create cursor, used to send commands over to the database and retrieve data when requested.
config = {
    "user": "DB_USERNAME",
    "password": "DB_PASSWORD",
    "host": "DB_HOST",
    "database": "DB_NAME",
}

connection = connect(**config)
cursor = connection.cursor()

In [ ]:
cursor = connection.cursor()
query = ("""CREATE TABLE country (
	country_id INT NOT NULL,
	country_name VARCHAR (60),
	iso3_code VARCHAR(3),
	legacy_location_id INT,
	PRIMARY KEY (country_id))
    """)
cursor.execute(query)
results = cursor.fetchall()
df = pd.DataFrame(results)
df

In [ ]:
cursor = connection.cursor()
query = ("""CREATE TABLE product (
	product_id INT NOT NULL,
	product_code TEXT,
	product_name VARCHAR(255),
	product_level INT,
    top_parent_id INT,
    product_hierarchy TEXT,
	PRIMARY KEY (product_id))
    """)
cursor.execute(query)
results = cursor.fetchall()
df = pd.DataFrame(results)
df

In [34]:
cursor = connection.cursor()
query = ("""CREATE TABLE all_services (
	country_id INT NOT NULL,
    product_id INT,
	date INT,
    export_value DOUBLE PRECISION,
    import_value DOUBLE PRECISION,
    global_market_share DOUBLE PRECISION,
    pci DOUBLE PRECISION,
    number INT NOT NULL AUTO_INCREMENT,
	PRIMARY KEY (number))
    """)
cursor.execute(query)
results = cursor.fetchall()
df = pd.DataFrame(results)
df

Empty DataFrame
Columns: []
Index: []

In [50]:
df=pd.read_sql_query("Show Tables ", connection)

print (df)

  Tables_in_harvard_db
0         all_services
1              country
2              product

In [ ]:
# Iterate over the rows in the csv file for the table country
import csv

with open ("/Users/katherinekimberling/Library/Mobile Documents/com~apple~CloudDocs/PERSONAL/USD MADS/ADS 507 Practical Data Engineering/Final Team Project/Source Data/harvard_trade_data/location_country.csv", 'r') as country:
    # Create a csv reader object
    reader = csv.reader(country)
for row in reader:

# Insert the data into the MySQL table

    cursor.execute('INSERT INTO country (country_id, country_name, iso3_code, legacy_location_id) VALUES (%s, %s, %s, %s), row')
conn.commit()